/* reglas
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta
body{
    background: red;
} */

/* Selector descendente
body header div nav ol li a{

} */

/* Uso de flexbox para diversas cosas de alineacion
.flexbox{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    flex-shrink: 0;
    align-self: flex-start;
} */

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    color: white;
    margin: 0px;
    /* text-transform: uppercase;
    text-decoration: underline; */
}

h2{
   color: #026fff; 
   text-transform: uppercase;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: bold;
   font-size: 24px;
   margin-bottom: 40px;
}
h1 strong{
    color: #026fff;
}

.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu{
    height: inherit;
}

ol,ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0px 10px;
}

figure{
    margin: 0px;
}

.header a{
    color: white;
    text-decoration: none;
}
.hero{
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-img{
    object-fit: cover;
}

.portfolio{
    background-color: #fafafa;
    padding: 20px;
}
.project{
    border: 1px solid gray;
    border-radius: 10px;
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    /* box-sizing: border-box; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-details{
    width: 50%;
}
.project-title{
    font-size: 30px;
    margin: 10px 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.project-course,.project-date,.project-url{
    margin: 10px 0px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif; 
}
.project-description{
    font-size: 20px;
}
.project-imgContainer{
    width: 50%;
}
.project-imgContainer img{
    max-width: 100%;
}
.event-list-title{
    margin-left: 20px;
}
.event-list{
    display: flex;
    flex-wrap: wrap;
}
.event{
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
    box-shadow: black;
}
.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.event-details{
    margin: 20px 30px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-description{
    text-align: left;
}
.event-url{
    border: 1px solid #026fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #026fff;
    border-radius: 5px;
}
.contact{
    background-color: #026fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position-y: center;
    background-position-x: 5px;
}
.form-email button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}
.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}
.social{

}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0px 10px;
}
.social-link.tw{
    background-image: url('../images/twitter.svg');
}
.social-link.fb{
    background-image: url('../images/facebook.svg');
}
.social-link.gh{
    background-image: url('../images/github.svg');
}
.social-link.ig{
    background-image: url('../images/instagram.svg');
}
.footer{
    background-color: #1d252c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}
.container{
    max-width: 1000px;
    flex: 1; /*lo mismo que poner width:100% */
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* Desktop first empezar con media query mas alto */
/* breakpoints */
@media screen and (max-width:1024px){

}
@media screen and (max-width:767px){
    .header{
        display: block;
        height: auto;
    }
    .header ol{
        display: block;
    }
    .header ol li{
        height: 50px;
    }
    .header a{
        justify-content: center;
    }
    .logo{
        text-align: center;
    }
    .project{
        display: block;
    }
    .project-details{
        width: auto;
        /* font-size: 10px; */
    }
    .project-title{
        font-size: 1.5em;
        margin-bottom: .3em 0;
    }
    .project-course{
        font-size: 1.2em;
    }
    .project-date{
        font-size: 1em;
    }
    .project-description{
        font-size: .8em;
    }
    .project-url{
        font-size: 1em;
    }
    .project-imgContainer{
        width: auto;
        text-align: center;
    }
    .project-course, .project-date, .project-url{
        margin: .3em 0;
    }
}
@media screen and (max-width:480px){
    .project-details{
        width: auto;
        font-size: 12px;
    }
}
@media screen and (max-width:320px){
    
}